@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 35 100% 98.8%;
    --foreground: 0 0% 0%;

    --card: 35 100% 98.8%;
    --card-foreground: 0 0% 0%;

    --popover: 35 100% 98.8%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 35 100% 98.8%;

    --secondary: 343 45% 85%;
    --secondary-foreground: 0 0% 0%;

    --muted: 343 45% 85%;
    --muted-foreground: 0 0% 40%;

    --accent: 18 79% 79%;
    --accent-foreground: 0 0% 0%;

    --rose: 353 42% 71%;
    --rose-foreground: 0 0% 0%;

    --purple: 282 15% 55%;
    --brown: 27 18% 50%;
    --teal: 172 18% 59%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 35 100% 98.8%;

    --border: 343 45% 90%;
    --input: 343 45% 90%;
    --ring: 0 0% 0%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 35 100% 98.8%;

    --card: 0 0% 10%;
    --card-foreground: 35 100% 98.8%;

    --popover: 0 0% 10%;
    --popover-foreground: 35 100% 98.8%;

    --primary: 35 100% 98.8%;
    --primary-foreground: 0 0% 10%;

    --secondary: 353 42% 30%;
    --secondary-foreground: 35 100% 98.8%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;

    --accent: 18 79% 50%;
    --accent-foreground: 35 100% 98.8%;

    --rose: 353 42% 50%;
    --rose-foreground: 35 100% 98.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 35 100% 98.8%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 35 100% 98.8%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
